* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.row {
    display: flex;

}

.cell {
    width: 100px;
    height: 100px;
    display: inline-block;
    border: 2px solid #000;
    text-align: center;
    font-size: 2em;
    line-height: 100px;
    cursor: pointer;
    margin: 2px;
}